.side-bar {
  /* use margin in order to hide */
  display: flex;
  justify-content: center;
  height: 100%;
  width: 20.04%;
  background-color: var(--foreground);
  transition: ease 0.5s;
  border-right: 1px solid white;
}

.board-info {
  color: grey;
}

.single-board {
  display: block;
}
